[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
v = {editable = true,version = "*"}

[packages]
requests = "*"
pychromecast = "*"
flask = "*"
python-voicetext = "*"
boto3 = "*"
pyaudio = "*"
mariadb = "*"
sphinx = "*"

[requires]
python_version = "3.6"

[scripts]
ver = "python --version"
